@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: winnie-font;
    src: url(../assets/fonts/winie-font.otf);
    font-display: swap;
}

body
{
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 16px;
}

.main-page-title {
    font-size: 40px;
    font-weight: 700;
    font-family: winnie-font, Helvetica, sans-serif;
    letter-spacing: 6px;
}

.sub-header {
    font-size: 35px;  
    font-weight: 900;
    font-family: winnie-font, sans-serif;
    letter-spacing: 7px;
}

.white-text {
    color: #FFFFFF;
}

/* navbar */
#navbar-brand-name-1 {
    margin: 0px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

#navbar-brand-name {
    margin: 0px;
    text-transform: uppercase;
    color: #ffc600;
    text-decoration: none;
}

.navbar {
    background-color: #03071E;
}


/* Hero section */
#hero-section {
    height: 100vh;
    position: relative;
    background-color: #03071E;
    color: #FFFFFF;
    margin-top: -55px;
}

.hero-section-elements {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Cards */
.card {
    border: none;
    border-radius: 25px;
}


/* Expertise section */
#subtitle-expertise {
    color: #6a040f;
}

#expertise-section {
    margin-top: 80px;
    margin-bottom: 150px;
}

#expertise-cards-section {
    margin-top: 60px;
    margin-bottom: 20px;
}

.expertise-card {
    padding: 30px;
    background-color: #f6f6f7;
    color: #ffffff;
}


/* Projects section */
#subtitle-projects {
    color: #FFFFFF;
}

#projects-section {
    background-color: #9D0208;
    padding-top: 80px;
    padding-bottom: 150px;
}

#project-cards-section {
    margin-top: 60px;
    margin-bottom: 20px;
}

.project-card {
    padding: 15px;
    background-color: #FAA307;
    color: #ffffff;
}

.footer-section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #03071E;
    font-size: 20px;
    text-align: center;
    color: #ffc600;
    font-family: winnie-font, Helvetica, sans-serif;
    letter-spacing: 3px;
}

.footer-icons {
    height: 45px;
    color: #ffc600;
    padding: 0 8px 0 8px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .main-page-title {
        font-size: 45px;
    }
    
    .sub-header {
        font-size: 35px;
    }

    #expertise-section {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    #projects-section {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main-page-title {
        font-size: 50px;
    }
    
    .sub-header {
        font-size: 40px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main-page-title {
        font-size: 60px;
    }
    
    .sub-header {
        font-size: 45px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}