@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: winnie-font;
    src: url(../assets/fonts/winie-font.otf);
    font-display: swap;
}

.background {
    background-color: #03071e;
    height: 100vh;
}

.page-not-found-image {
    height: 70%;
    width: 70%;
}

.page-not-found-title {
    font-size: 40px;
    color: #ffc600;
    font-family: winnie-font, Helvetica, sans-serif;
}

.page-not-found-title-text {
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-section {
    text-align: center;
}

.center {
    display: block;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    padding-top: 10vh;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .page-not-found-image {
        height: 60%;
        width: 60%;
    }

    .center {
        padding-top: 5vh;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .page-not-found-image {
        height: auto;
        width: 100%;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 0;
    }

    .page-not-found-title {
        font-size: 50px;
    }
    
    .page-not-found-title-text {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .text-section {
        text-align: left;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .page-not-found-image {
        max-height: 80%;
        max-width: 80%;
    }

    .page-not-found-title {
        font-size: 60px;
    }
    
    .page-not-found-title-text {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}